.w80{
    width: 80px;
}
.mr-3{
    margin-right: 1rem;
}
.ml-3{
    margin-left: 1rem;
}
.submit-btn{
    width: 200px;
    border: 0;
    background-color: #223370;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}
.back-btn{
    width: 200px;
    border: 0;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
}
.fs20{
    font-size: 20px;
}